* {
  margin:0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
  background-color: #F33D3D;
  padding: 30px;
  display: flex;
  align-items: center;
  max-width:1200px;
  margin: 0 auto;
}
.navbar #logo {
  color: white;
  font-size: xx-large;
}
.navbar .links {
  margin-left: auto;
}
.navbar .link {
  margin-left: 40px;
  text-decoration: none;
  padding: 6px;
  color: white;
  font-size: x-large;
}
.navbar .signlink{
  margin-left: 20px;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: x-large;
}
.navbar .searchbox{
  margin-left: 30px;
  min-width: 400px;
  height: 30px;
  width:auto;
  border-radius: 10px;
  border: none;
}
.navbar .link:hover {
  color: red;
  background-color: #FFD802;
}
.navbar .signlink:hover {
  color: red;
  background-color: #FFD802;
}
.home {
  background-color: white;
  padding: 30px;
  max-width:1200px;
  margin: 0 auto;
  height:max-content;
}
.home .typehead {
  margin-top: 20px;
  max-width: 1300px;
  text-align: left;
  border-bottom:solid 2px #002357;
}
.carousel {
  margin-top: 15px;
}
.poster{
  width: 260px;
  height: 380px;
  border-radius: 10px;
}
.poster_name_score{
  width: 260px ;
}
.slicklink{
  text-decoration: none;
}
.name_with_score{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
}
.poster{
  border-radius: 10px;
}
.col{
  margin-top: 20px;
  border-left:solid 2px;
  border-right:solid 2px;
  border-radius: 10px;
}
.detailpage{
  background-color: white;
  padding: 30px;
  max-width:1200px;
  margin: 0 auto;
  height:max-content;
}
.dleft{
  text-align: left;
}
.dleftin{
  margin-top: 10px;
}
.detailin{
  margin-top: 20px;
}
.dright{
}
.scoregroup{
  display: flex;
  margin-left: 70px;
  height: 70px;
  padding: 10px;
  text-align: center;
}
.scoreword{
  text-align: center;
  margin-top: 20px;
  width: 100px;
}
.score{
  margin-left: 20px;
  padding: 20px;
  height: 30px;
  width: 40px;
  border-radius: 50%;
  background-color:#F33D3D;
  color: white;
}
.ratebox{
  padding: 5px;
  height: 40px;
  width: 40px;
}
.review{
  text-align: left;
  margin-top: 40px;
  font-size: 20px;
}
.reviewscore{
  font-size:30px;
  color: red;
}
.comment{
  margin-top: 20px;
  width: 400px;
  height: 200px;
}
.detailhead {
  margin-top: 20px;
  max-width: 1300px;
  text-align: left;
  border-top:solid 2px #002357;
}
.userreview{
  padding: 10px;
  font-size: 20px;
  margin-left: 5px;
  text-align: left;
  border-bottom: solid 1px;
}
.name_rate{
  display: flex;
  margin-top: 10px;
}
.nick-name{
  margin-right: 50px;
}